body{
    text-align: center;
    background-color: rgb(206, 204, 201);
}

main{
    max-width: 1000px;
    margin: auto;

}

img{
    width: 100%;
    border-radius: 5px;
}


.noticias{
    float: left;
    width: 50%;
    background-color: white;
    margin: 10px;
    display: block;
    border: 10px transparent;
    box-shadow: 0 0 5px black;


}

p{
    margin: 10px;
    padding: 10px;
}

footer{
    clear: both;
}

aside{
    background-color: rgb(224, 222, 222);
}

footer{
    color: white;
    background-color: black;
    text-align: center;

}