.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, h1{
    height: 100px;
    width: 100px;
    margin: 10px;
}

p{
    font-size: 60px;
}